<scoutx-header title="login"></scoutx-header>

<ion-content  padding>
  <div class="container">
    <p>
      <ion-button
        type="submit"
        color="primary"
        (click)="handleGoogleLogin()"
        expand="block">
        <ion-icon name="logo-google"></ion-icon>
        Access with Google
      </ion-button>
    </p>
    <p>
      This application will help you configure alerts to your mobile phone,
      a preferred emergency contact and up to <strong>5</strong> additional contacts.
    </p>
    <p>
      If you have a <strong>Nightscout</strong> dashboard and your API is enabled for external queries,
      you can use this application. When your glucose levels are out of range,
      you will receive an alert call on your mobile as well as and your preferred.
    </p>
    <p>
      If you do not answer the call then a sms is sent to your emergency contact(s).
    </p>
    <p>
      If you are an emergency contact, you can see the information with your <strong>personal code</strong>.
    </p>

  </div>
</ion-content>
